.custom-size-image {
    width: 288px;
    height: 400px;
    overflow: hidden;
    transition: box-shadow 0.5s ease;

}

.custom-size-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.custom-form-login {
    margin-right: 10vw;

}

.border {
    border-radius: 40px;

}

.custom-container-text-login {
    margin-top: 17vh;
    position: relative;
}

.custom-title-login {
    margin: 0 0 0 10vw;
    padding: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: black;
    /*  position: absolute;
   left: 0;
   top: 0; */
}

.custom-width-login {
    margin-top: 7vh;
    width: 100%;
    background-color: #4461F2;
    color: #FFFFFF;

}

.custom-containe-login-buttom span {
    display: flex;
    justify-content: flex-end;
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #4461f2;
}

.custom-recover-pass:hover {
    cursor: pointer;
}

/* Style Card */

.is-card {

    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgb(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

.is-custom-area {
    color: #203cc9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    z-index: 3;
}

.is-custom-machine {
    position: absolute;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    z-index: 3;
}

.is-custom-image-card-size {
    display: flex;
    align-items: flex-end;
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
    transition: box-shadow 0.5s ease;

}

.is-custom-card {
    padding: 1.5rem 0 0 0;
    display: flex;
    justify-content: center;

}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(white, 70%, transparent);
    z-index: 1;


}

.is-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.is-custom-box-gantt {
    position: relative;
    background-color: #D9D9D9;
    width: 100%;
    height: 75vh;
}

.is-custom-box-detail {
    margin-left: 10vh;
    margin-top: 1.8rem;
    background-color: #D9D9D9;
    width: fill;
    height: 75vh;
}

.custom-position-add {
    position: absolute;
    top: 0px;
    right: -27px;
}

.custom-position-add:hover{
    cursor: pointer;
}


.is-custom-small {
    width: 8rem;
    height: 1rem;
}

.custom-label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #5D5F64 ;
}

.custom-width-add-report {
    width: 16rem;
}
.is-custom-width-textarea{
    width: 24rem;  
}